@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #2f2f2f;
  --primary: #274587;
  --light-primary: #6083CF;
  --secondary: #d11b1b;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-light-primary: var(--light-primary);
  --color-secondary: var(--secondary);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
  font-size: 16px;
}
