@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --gray-text: #2f2f2f;
  --blue-iest: #274587;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-primary: var(--gray-text);
  --color-blue-iest: var(--blue-iest);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Poppins"
}

